<div class="row mt-5">
  <h4>Catalogo de alimentos y bebidas</h4>
  <mat-divider></mat-divider>
</div>
<br />
<div class="row mt-2">
  <div class="col-lg-2 col-12">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="btn-text mt-3"
      (click)="add()"
    >
      <mat-icon>add</mat-icon> Nuevo alimento o bebida
    </button>
  </div>
</div>
<br />

<br />
<mat-divider></mat-divider>
<div class="col-md-12">
  <table mat-table class="table mb-0" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        class="table__header table__cell-id"
        *matHeaderCellDef
      >
        ID
      </th>
      <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
        {{ row.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th
        mat-header-cell
        class="table__header table__cell-name"
        *matHeaderCellDef
      >
        Nombre
      </th>
      <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
        {{ row.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th
        mat-header-cell
        class="table__header table__cell-name"
        *matHeaderCellDef
      >
        Descripción
      </th>
      <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
        {{ row.descripcion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estatus">
      <th
        mat-header-cell
        class="table__header table__cell-name"
        *matHeaderCellDef
      >
        Estatus
      </th>
      <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
        <mat-checkbox
          class="d-block"
          (change)="changeCheck(row)"
          [checked]="row.estatus"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th
        mat-header-cell
        class="table__header table__cell--actions d-flex justify-content-center pt-5"
        *matHeaderCellDef
      >
        Acciones
      </th>
      <td
        mat-cell
        class="table__cell table__cell--actions"
        *matCellDef="let row; let index = index"
      >
        <div class="d-flex justify-content-center">
          <button mat-button matTooltip="Editar" (click)="edit(row)">
            <mat-icon class="edit__icon">edit</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="Eliminar"
            (click)="deleteByConfimation(row)"
          >
            <mat-icon class="delete__icon">delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="['id', 'nombre', 'descripcion', 'estatus', 'acciones']"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['id', 'nombre', 'descripcion', 'estatus', 'acciones']
      "
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Seleccione página"
  >
  </mat-paginator>

  <ng-template>
    <p class="empty-table mt-4">No hay datos para mostrar</p>
  </ng-template>
</div>
